In [19]:
import pandas as pd
import numpy as np
from scipy.optimize import minimize

In [29]:
df = pd.read_excel('Seasonality.xlsx')
# drops the extra title row
df.drop(df.index[0], axis=0, inplace=True)
# resets the index to start at 0. Could probably just make the datetime the index if you wanted.
df.reset_index(inplace=True, drop=True)

In [245]:
# supply an initial value to alpha
alpha = 0.3

In [31]:
df

         Date  Quarter Original Trend-Cycle     Ratio  Seasonal Seasonally
0  1983-12-01      4.0    147.6         NaN       NaN  0.686136    215.118
1  1984-03-01      1.0    251.8         NaN       NaN   1.02386    245.931
2  1984-06-01      2.0    273.1     229.363   1.19069    1.1605    235.329
3  1984-09-01      3.0    249.1       224.5   1.10958    1.1295    220.541
4  1984-12-01      4.0    139.3     219.062  0.635892  0.686136    203.021
5  1985-03-01      1.0    221.2      218.75    1.0112   1.02386    216.045
6  1985-06-01      2.0    260.2       220.2   1.18165    1.1605    224.213
7  1985-09-01      3.0    259.5     223.387   1.16166    1.1295    229.748
8  1985-12-01      4.0    140.5      231.25  0.607568  0.686136     204.77
9  1986-03-01      1.0    245.5     239.512     1.025   1.02386    239.778
10 1986-06-01      2.0    298.8     246.487   1.21223    1.1605    257.474
11 1986-09-01      3.0      287     259.662   1.10528    1.1295    254.095
12 1986-12-01      4.0    168.8     281.137  0.600418  0.686136    246.015
13 1987-03-01      1.0    322.6     307.638   1.04864   1.02386    315.081
14 1987-06-01      2.0    393.5     333.663   1.17934    1.1605    339.077
15 1987-09-01      3.0    404.3     354.837   1.13939    1.1295    357.947
16 1987-12-01      4.0    259.7     373.537  0.695245  0.686136    378.496
17 1988-03-01      1.0    401.1      391.85   1.02361   1.02386    391.752
18 1988-06-01      2.0    464.6     401.863   1.15612    1.1605    400.343
19 1988-09-01      3.0    479.7     402.637   1.19139    1.1295    424.702
20 1988-12-01      4.0    264.4     396.162  0.667403  0.686136    385.346
21 1989-03-01      1.0    402.6     377.775   1.06571   1.02386    393.217
22 1989-06-01      2.0    411.3     362.087   1.13591    1.1605    354.415
23 1989-09-01      3.0    385.9      346.45   1.11387    1.1295    341.656
24 1989-12-01      4.0    232.7       322.2  0.722222  0.686136    339.146
25 1990-03-01      1.0    309.2     298.012   1.03754   1.02386    301.994
26 1990-06-01      2.0    310.7      282.95   1.09807    1.1605    267.729
27 1990-09-01      3.0      293      270.15   1.08458    1.1295    259.407
28 1990-12-01      4.0    205.1     257.637   0.79608  0.686136     298.92
29 1991-03-01      1.0    234.4     250.188  0.936897   1.02386    228.937
30 1991-06-01      2.0    285.4     244.412    1.1677    1.1605    245.928
31 1991-09-01      3.0    258.7     246.588   1.04912    1.1295     229.04
32 1991-12-01      4.0    193.2     251.137    0.7693  0.686136    281.577
33 1992-03-01      1.0    263.7     259.087    1.0178   1.02386    257.554
34 1992-06-01      2.0    292.5     264.288   1.10675    1.1605    252.046
35 1992-09-01      3.0    315.2     263.775   1.19496    1.1295    279.062
36 1992-12-01      4.0    178.3     265.488  0.671595  0.686136    259.861
37 1993-03-01      1.0    274.5     265.425   1.03419   1.02386    268.102
38 1993-06-01      2.0    295.4         NaN       NaN    1.1605    254.545
39 1993-09-01      3.0    311.8         NaN       NaN    1.1295    276.052

In [48]:
def algebraic_tranformation(df, columnNameActual, columnNamePredicted, columnNameErrors, alpha):
    df_new = df 
    
    for i in range(0, len(df_new)):
        if i < 2:
            # sets the first two values in Forecast to be the first value in Seasonally
            df_new.loc[i, columnNamePredicted] = df_new.loc[0, columnNameActual]
        else:
            df_new.loc[i, columnNamePredicted] = 2 * df_new.loc[i-1, columnNameActual] - df_new.loc[i-2, columnNameActual] - 2 * (1-alpha) * df_new.loc[i-1, columnNameErrors] + ((1-alpha)**2 * df_new.loc[i-2, columnNameErrors])
            print(df_new.loc[i, columnNamePredicted])
        # calculates the error, y_actual - y_predicted
        df_new.loc[i, columnNameErrors] = df_new.loc[i, columnNameActual] - df_new.loc[i, columnNamePredicted]
        
    return df_new

In [49]:
df_new = algebraic_tranformation(df, 'Seasonally', 'Forecast', 'Error', alpha)

244.15370736880098
242.67815555317142
226.69891056927023
204.35397838905075
210.08091590457747
220.70360685027032
229.66945732061652
208.6572559553177
234.9062918394321
260.00430557455894
263.2779171202679
254.54130240891362
315.28660265823845
354.84138088259044
380.18575851246464
401.7013867261795
415.0581981726304
421.71606388276274
441.78716146563204
406.52270729575355
399.3754693002154
359.44620102714686
335.13941590207133
327.42214876232794
292.8575582604966
252.93043843511975
237.2075976840056
274.9717412010964
224.9037974363819
227.80672921620442
216.727734530237
265.8683529191019
260.462049435374
253.1139319011939
276.2795295463886
265.28277823570824
268.7695055121304
256.82101114442224

In [1]:
import pandas as pd
import numpy as np
from scipy.optimize import minimize

In [2]:
df = pd.read_excel('Seasonality.xlsx')
# drops the extra title row
df.drop(df.index[0], axis=0, inplace=True)
# resets the index to start at 0. Could probably just make the datetime the index if you wanted.
df.reset_index(inplace=True, drop=True)

In [3]:
# supply an initial value to alpha
alpha = 0.3
array_of_actual_values = df.Seasonally.values

In [4]:
def forecasted(alpha, init_data):
    # values predicted using the single-equation recursive form of Brownâ€™s model
    y = np.empty(len(init_data), float)
    # error values (actual - predicted)
    z = np.empty(len(init_data), float)
    
    for i in range(0, len(init_data)):
        # sets the first two values in predicted to be the first value in actual
        if i < 2:
            y[i] = init_data[0]
        else:
            y[i] = 2 * init_data[i-1] - init_data[i-2] - 2 * (1-alpha) * z[i-1] + ((1-alpha)**2) * z[i-2]
            
        z[i] = init_data[i] - y[i]
        
    return np.sqrt(np.mean(np.square(z)))

In [6]:
result = minimize(forecasted, alpha, array_of_actual_values, bounds=[(0,1)])

In [7]:
# there's a tiny amount of variation in the optimal value based on the initial value for alpha
[alpha_opt] = result.x
print(alpha_opt)

0.47115429855026236